# Auto detect text files and perform LF normalization
/NinjaGame/Content/Asian_Village/
/NinjaGame/Content/LUSH_StylizedEnvironmentSet/
/NinjaGame/Content/Fantastic_Village_Pack/
/NinjaGame/Saved/
/NinjaGame/Intermediate/
NinjaGame/Saved/Autosaves/PackageRestoreData.json
NinjaGame/Saved/AutoScreenshot.png
NinjaGame/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
NinjaGame/Saved/Config/WindowsEditor/Engine.ini
NinjaGame/Saved/Logs/NinjaGame.log

